@import "tailwindcss";

@font-face {
  font-family: "StampRSPKOne-Bold";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Bold.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-ExtraLight";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-Heavy";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-Light";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Light.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-Medium";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Medium.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-Regular";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Regular.otf") format("opentype");
}
@font-face {
  font-family: "StampRSPKOne-Thin";
  src: url("/fonts/Stamp_RSPK/One/StampRSPKOne-Thin.otf") format("opentype");
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}